.side-bar
  .side-bar__header
    .side-bar__header_textbox
      .side-bar__header_textbox_left
        masa
    .side-bar__header_textbox_right
      .side-bar__header_textbox_new
        = link_to "#" do
          %i.fas.fa-edit.icon-new
      .side-bar__header_textbox_edit
        = link_to "#" do
          %i.fas.fa-cog.icon-edit
  .side-bar__group
    .side-bar__group_name
      テックキャンプ
    .side-bar__group_text
      メッセージはありません
    .side-bar__group_name
      テックキャンプ
    .side-bar__group_text
      メッセージはありません
